<html>

<head>
    <title>
        Real Time Weather Forcast
    </title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/static/css/main.css" rel="stylesheet">
    <script src="/static/js/firebase-app.js" type="text/javascript"></script>
    <script src="/static/js/firebase-database.js" type="text/javascript"></script>
    <script src="/static/js/moment.min.js" type="text/javascript"></script>
    <script src="/static/js/chart.js" type="text/javascript"></script>
    <script src="/static/js/chartjs-plugin-streaming.js" type="text/javascript"></script>
</head>

<body>
    <div style="width: 50%; float: left">
        <canvas id="myChartTemp"></canvas>
    </div>
    <div style="width: 50%; float: right">
        <canvas id="myChartPressure"></canvas>
    </div>
    <div style="width: 50%; float: right">
        <canvas id="myChartHumidity"></canvas>
    </div>
    <div style="width: 50%; float: left">
        <canvas id="myChartAltitude"></canvas>
    </div>
    <script src="/static/js/main.js" type="text/javascript"></script>
    </body>

</html>